.entity {
  width: 75px;
  height: 75px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

html {
  overflow: hidden;
}

.ferrari {
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/228784/Blue-Beetle-Profile.png);
}